body {
    background: rgb(255, 255, 255);
    color: #e2e2e2;
    margin: 0;
    font-family: monospace;
}
  
.logo {
    max-width: 100%; 
    height: auto; 
    margin-bottom: 20px; 
    margin: 0 auto;
    padding: 40px;
}

.logo-banner {
    background-color: rgb(212, 4, 4); 
    width: 100%; 
    text-align: center;
    padding: 10px 0;
}

.logo:hover{
    transform: scale(1.1);
}

.container {
    text-align: center;
    display: grid;
    margin: 0 auto;
}
  
.tipo{
    padding: 5px 10px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

.types {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.abilities {
    text-align: left;
    text-transform: uppercase;
}


.pokemon-info{
    background-color: #ffffff;
    color: #000;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.id{
    background-color: #ffffff; 
    color: #000; 
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.name{
    font-size: 21px;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 2px 10px;
    border-radius: 5px;
}

.name, .abilities, .types {
    margin-top: auto;
}

.home-button {
    position:absolute;
    left:20px;
    top:20px;
}

.home-icon{
    width: 35px;
    height: auto;
    transition: transform 0.2s ease-in-out;
}

.home-icon:hover{
    transform: scale(1.1);
}

.search-container {
    position: relative;
    width: 330px;
}

.search-term {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    height: 45px;
    outline: none;
    color: #bf9d9d;
}

.search-term input[type="text"] {
    width: 300px;  
    padding: 10px;  
    border-radius: 5px;  
    border: 1px solid #ccc;
    font-size: 16px;  
}

.search-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.search-term:focus{
    color: #1f1f1f;
}

.search-icon {
    width: 20px;
    height: 20px;
}

.filter-select {
    padding: 10px;
    margin-left: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    outline: none;
}

.filter-select:focus {
    border-color: #999;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 200px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px; 
}

.card img {
    width: 200px;
    max-height: 150px;
    object-fit: contain;
    height: auto;
    margin-bottom: 10px;
}

.card:hover {
    transform: scale(1.1);
    background-color: #dddcdc;;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 50px;
}
  
.grass {
    background-color: #78C850;
}

.poison {
    background-color: #A040A0;
}

.fire {
    background-color: #F08030;
}

.water {
    background-color: #2f63b1;
}

.bug {
    background-color: #A8B820;
}

.normal {
    background-color: #A8A878;
}

.flying {
    background-color: #A890F0;
}

.electric {
    background-color: #F8D030;
}

.ground {
    background-color: #E0C068;
}                                   

.fairy {
    background-color: #EE99AC;
}

.fighting {
    background-color: #C03028;
}

.psychic {
    background-color: #F85888;
}

.rock {
    background-color: #B8A038;
}

.ghost {
    background-color: #705898;
}

.ice {
    background-color: #98D8D8;
}

.dragon {
    background-color: #7038F8;
}

.dark {
    background-color: #705848;
}

.steel {
    background-color: #B8B8D0;
}

.unknown {
    background-color: #68A090;
}

.shadow {
    background-color: #493963;
}
