<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>Pokédex</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>POKEDEX</h1>
    {% if pokemons %}
        <div class="pokemon-cards-container">
            {% for pokemon in pokemons %}
                <div class="pokemon-card" onclick="toggleCard(this)">
                    <div class="pokemon-info">
                        <h2 class="pokemon-name">{{ pokemon.name }}</h2>
                        <div class="pokemon-image-container">
                            <img src="{{ pokemon.image_url }}" alt="{{ pokemon.name }}" class="pokemon-image">
                        </div>
                    </div>
                    <div class="pokemon-expanded-info">
                        <div class="pokemon-types">
                            {% for type in pokemon.type %}
                                <span class="pokemon-type">{{ type }}</span>
                            {% endfor %}
                        </div>
                        <div class="pokemon-abilities">
                            <h3>Habilidades:</h3>
                            <ul>
                                {% for ability in pokemon.abilities %}
                                    <li>{{ ability }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="pokemon-stats">
                            <h3>Status:</h3>
                            <ul>
                                {% for stat in pokemon.stats %}
                                    <li>{{ stat }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Nenhum Pokémon encontrado.</p>
    {% endif %}
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>