<!DOCTYPE html>
<html>
    {% load static %}
<head>
    <title>Pokedex</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="logo-banner">
            <div class="home-button">
                <a href="/pokemons/">
                    <img src="{% static 'img/home-icon.png' %}" alt="Home" class="home-icon">
                </a>
            </div>
            <img src="{% static 'img/logo.png' %}" alt="Logo" class="logo">
        </div>
        <form action="{% url 'pokemon_list' %}" method="get" class="search-term">
            <div class="search-container">
                <input type="text" name="query" placeholder="Enter pokemon name" autofocus class="filter">
                <button type="submit" class="search-button">
                    <img src="{% static 'img/lupa.png' %}" alt="Search" class="search-icon">
                </button>
            </div>
            <select name="type" class="filter-select" onchange="this.form.submit()">
                <option value="">All Types</option>
                <option value="grass">Grass</option>
                <option value="fire">Fire</option>
                <option value="water">Water</option>
                <option value="bug">Bug</option>
                <option value="normal">Normal</option>
                <option value="poison">Poison</option>
                <option value="electric">Electric</option>
                <option value="ground">Ground</option>
                <option value="fairy">Fairy</option>
                <option value="fighting">Fighting</option>
                <option value="psychic">Psychic</option>
                <option value="rock">Rock</option>
                <option value="ghost">Ghost</option>
                <option value="ice">Ice</option>
                <option value="dragon">Dragon</option>
                <option value="dark">Dark</option>
                <option value="steel">Steel</option>
                <option value="flying">Flying</option>
            </select>
        </form>
        <div class="grid">
            {% for pokemon in pokemons %}
            <div class="card">
                <div class="id">#{{ pokemon.id }}</div>
                <img src="{{ pokemon.image_url }}" alt="{{ pokemon.name }}"><br>
                <div class="pokemon-info">
                    <div class="name">
                        {{ pokemon.name }}
                    </div>
                    <!--div class="abilities">
                        Ability: {{ pokemon.abilities|join:", " }}
                    </div-->
                    <div class="types">
                        {% for type in pokemon.type %}
                            <div class="tipo {{ type }}">{{ type }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="loading" class="loading" style="display: none;">
        <div class="loading-message">Carregando Pokémons...</div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            let page = 1;
            let loading = false;
            const loadingElement = document.getElementById('loading');

            const loadMorePokemons = () => {
                if (loading) return;
                loading = true;
                loadingElement.style.display = 'block'; 
                page++;

                fetch(`/pokemons/?page=${page}&query={{ request.GET.query }}&type={{ request.GET.type }}`, {
                    headers: { 'X-Requested-With': 'XMLHttpRequest'}}).then(response => response.text()).then(html => {
                        const container = document.querySelector('.grid');
                        container.insertAdjacentHTML('beforeend', html);
                        loading = false;
                        loadingElement.style.display = 'none'; 
                    }).catch(() => {
                        loading = false;
                        loadingElement.style.display = 'none'; 
                    });
            };

            window.addEventListener('scroll', () => {
                if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
                loadMorePokemons();
            }});});
    </script>
</body>
</html>
