<!DOCTYPE html>
<html>
    {% load static %}
<head>
    <title>Pokedex</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="logo-banner">
            <div class="home-button">
                <a href="/pokemons/">
                    <img src="{% static 'img/home-icon.png' %}" alt="Home" class="home-icon">
                </a>
            </div>
            <img src="{% static 'img/logo.png' %}" alt="Logo" class="logo">
        </div>
        <form action="{% url 'pokemon_list' %}" method="get" class="search-term">
            <input type="text" name="query" placeholder="Enter pokemon name" autofocus>
            <select name="type">
                <option value="">All Types</option>
                <option value="grass">Grass</option>
                <option value="fire">Fire</option>
                <option value="water">Water</option>
                <option value="bug">Bug</option>
                <option value="normal">Normal</option>
                <option value="poison">Poison</option>
                <option value="electric">Electric</option>
                <option value="ground">Ground</option>
                <option value="fairy">Fairy</option>
                <option value="fighting">Fighting</option>
                <option value="psychic">Psychic</option>
                <option value="rock">Rock</option>
                <option value="ghost">Ghost</option>
                <option value="ice">Ice</option>
                <option value="dragon">Dragon</option>
                <option value="dark">Dark</option>
                <option value="steel">Steel</option>
                <option value="flying">Flying</option>
            </select>

            <button type="submit">Search</button>
        </form>
        <div class="grid">
            {% for pokemon in pokemons %}
            <div class="card">
                <div class="id">#{{ pokemon.id }}</div>
                <img src="{{ pokemon.image_url }}" alt="{{ pokemon.name }}"><br>
                <div class="pokemon-info">
                    <div class="name">
                        {{ pokemon.name }}
                    </div>
                    <!--div class="abilities">
                        Ability: {{ pokemon.abilities|join:", " }}
                    </div-->
                    <div class="types">
                        {% for type in pokemon.type %}
                            <div class="tipo {{ type }}">{{ type }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>