<!-- pokemons/templates/pokemons/pokemon_list.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Pokédex</title>
</head>
<body>
    <h1>Pokédex</h1>
    <ul>
        {% for pokemon in pokemons %}
        <li>
            <strong>{{ pokemon.name }}</strong><br>
            <strong>Habilidades:</strong> {{ pokemon.abilities }}<br>
            <strong>Formas:</strong> {{ pokemon.forms }}<br>
            <strong>Tipo:</strong> {{ pokemon.type }}<br>
            <strong>Status:</strong> {{ pokemon.stats }}<br>
        </li>
        <br>
        {% endfor %}
    </ul>
</body>
</html>