<!DOCTYPE html>
<html>
    {% load static %}
<head>
    <title>Pokedex</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>POKEDEX</h1>
    <ul>
        {% for pokemon in pokemons %}
        <li>
            <img src="{{ pokemon.image_url }}" alt="{{ pokemon.name }}"><br>
            <strong>{{ pokemon.name }}</strong><br>
            <strong>Habilidades:</strong> {{ pokemon.abilities }}<br>
            <strong>Tipo:</strong> {{ pokemon.type }}<br>
            <!--strong>Status:</strong> {{ pokemon.stats }}<br-->
        </li>
        <br>
        {% endfor %}
    </ul>
</body>
</html>